.field-page {
  padding-bottom: 80px;
  &__title {
    padding-top: 110px;
    color: #000;
    text-align: center;
    font-size: 36px;
    font-weight: 500;
  }

  &__body {
    text-align: center;
    max-width: 600px;
    margin: 40px auto 0;
  }

  &__image {
    width: 200px;
    height: 200px;
    margin: auto;
    background: #fff;
    margin: 30px auto 0;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}

button.next-button {
  top: auto;
  padding: 0 62px;
  width: 300px;
  margin: auto;
  height: 50px;
  border: none;
  border-radius: 5px;
  background: #9de1ac;
  font-size: 18px;
  display: block;
  span {
      color: #fff;
  }
  &:hover, &:focus, &:active {
      text-decoration: none;
      background: #9de1ac;
  }
}

input.field__input {
  font-size: 20px;
  padding: 10px 10px;
  border: 3px solid #9de1ac;
  border-radius: 10px;

  &:hover {
    border-right-width: 3px !important;
  }

  &:focus {
    border-right-width: 3px !important;
  }
}

@media only screen and (max-width: 768px) {
  .field-page {
    &__title {
      font-size: 32px;
    }
    &__image {
      width: 150px;
    }
    position: relative;
  }
  button.next-button {
    position: absolute;
    bottom: 0;
    top: auto;
    padding: 0 62px;
    left: 18px;
    width: calc(100% - 34px);
    height: 50px;
    border: none;
    border-radius: 5px;
    background: #9de1ac;

    span {
        color: #fff;
    }
  }
}
