.login-page {
  display: flex;
  justify-content: center;
  padding-top: 96px;

  height: 100vh;

  background-color: #110e2b;
}

.login-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;

  height: fit-content;
  width: 624px;

  background-color: #ffffff;
  border-radius: 16px;

  &__title {
    margin-bottom: 32px;

    font-family: Cormorant;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;

    color: #110e2b;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;

    gap: 24px;

    &-btn {
      margin-top: 40px;
    }
  }

  &__reset-pass {
    font-family: Montserrat;
    font-size: 16px;
    line-height: 24px;

    color: #6f7374;

    cursor: pointer;
  }
}
