.header {
    padding: 7.5px 0;
    position: fixed;
    background: #000;
    width: 100%;
    z-index: 100;

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        margin-bottom: -10px;
    }

    &__actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__links {
        width: 72px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 80px;
    }

    &__login-btn {

    }
}