.header {
    padding: 13px 0;
    position: fixed;
    background: #fff;
    width: 100%;
    z-index: 100;
    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo {
        font-family: 'Ubuntu', sans-serif;
        font-size: 24px;
        font-weight: 500;
        color: #101010;
    }
    &__login-btn {
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        font-weight: 500;
        color: #101010;
    }
}