.quize-page {
  background-color: #110e2b;
  padding: 88px 15px;
  min-height: 550px;

  &__ctr {
    background-color: #fff;
    border-radius: 16px;
    margin: auto;
    max-width: 920px;
  }
}

.quize-form__body {
  padding: 0 32px;
}

.quize-form__btn {
  display: flex;
  justify-content: center;
  padding: 32px 0;
}

@media (max-width: 575px) {
  .quize-form__body {
    padding: 0 16px;
  }

  .quize-form__btn {
    border-top: 1px solid #f2f0f0;
    padding: 16px 16px 24px;
  }
}

@media only screen and (max-width: 768px) {
  .quize-page {
    padding-top: 115px;
  }
}