.quize-page {
    background: #fff;
    color: #000;
    min-height: 100vh;
    padding-bottom: 20px;
    &__nav {
        position: fixed;
        bottom: 0;
        width: 100%;
        .container {
            justify-content: space-between;
            display: flex;
            align-items: center;
            max-width: 1170px;
            margin: auto;
        }
    }
    &__no-questions {
        color: #fff;
        padding-top: 70px;
        font-size: 16px;
    }
}
.sidebar {
    position: fixed;
    left: 40px;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    color: #F5F5F5;
    &::before {
        top: 0;
        right: 18px;
        content: "";
        display: block;
        position: absolute;
        width: 4px;
        height: 100%;
        background-color: currentColor;
    }
}

.progress {
    &__item {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: currentColor;
        margin-top: 20px;
    }
}

button.next-button {
    position: fixed;
    font-size: 65px;
    color: #9de1ac;
    height: 120px;
    width: 120px;
    border: 3px solid;
    border-radius: 50%;
    right: 10px;
    top: calc(50% - 55px);
    cursor: pointer;
    transition: top 0s;
    &:hover, &:active, &:focus {
        border-color: currentColor!important;
    }
}

@media only screen and (max-width: 767px) {
    .sidebar {
        color: #9de1ac;
        height: auto;
        left: 0;
        top: 0px;
        &::before {
            top: 38px;
            left: 0;
            height: 4px;
            width: 100vw;
        }
        .progress {
            display: flex;
            width: 100vw;
            margin-top: 25px;
            margin-left: 5px;
            &__item {
                width: 29px;
                height: 29px;
                margin-right: 5px;
                margin-top: 0;
            }
        }
    }
    button.next-button {
        font-size: 28px;
        height: 50px;
        width: 50px;
        right: 5px;
        top: 13px;
        background: currentColor;
        padding: 4px 13px;
        border: none;
        span {
            color: #fff;
        }
        &:hover, &:focus, &:active {
            text-decoration: none;
            background: currentColor;
        }
    }
}