.look {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-left: -10px;
  margin-right: -10px;
  transition: all 0.3s;
  cursor: pointer;
  &__index,
  &__price {
    font-family: "Ubuntu", sans-serif;
    position: absolute;
    top: 0px;
    left: 0;
    font-size: 15px;
    background: #101010;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 10px;
    height: 19px;
    box-sizing: border-box;
    right: 0;
    width: fit-content;
    padding: 0 5px;
    border-radius: 8px;
    &--selected {
      background-color: #379456;
    }
    &--not-selected {
      background-color: #d1d1d1;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: -10px;
    width: 1px;
    background: #e8e8e8;
  }

  &:last-child {
    &::after {
      display: none;
    }
  }

  &:hover {
    background: #fafafa;
  }
}

.look__price {
  left: auto;
  right: 0;
  width: fit-content;
  padding: 0 5px;
  border-radius: 8px;
}

.look-item {
  &__photo {
    width: 60px;
    height: 60px;
    background-color: #eeeeee;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .look-item {
    &__photo {
      width: 80px;
      height: 80px;
    }
  }
}

@media only screen and (max-width: 769px) {
  .look {
    &::after {
      display: none;
    }
  }
}