#components-layout-demo-side .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.layout {
  min-height: 100vh;
  background: #fff;

  &__content {
    position: relative;
    overflow: initial;
  }
}

.item {
  font-size: 24px;
}

// .site-layout .site-layout-background {
//   background: #fff;
// }
