.inp {
  position: relative;
  width: 408px;

  font-family: Montserrat;
  font-size: 16px;
  line-height: 24px;

  color: #110e2b;

  &__lbl {
    cursor: pointer;

    display: inline-block;
    margin-bottom: 8px;

    &_disabled {
      cursor: default;

      color: #6f7374 !important;
    }
  }

  &__fld {
    height: 40px;
    padding: 8px 40px 8px 16px;

    background: #f2f0f0;
    border: 1px solid #f2f0f0;
    border-radius: 8px;

    &:disabled {
      color: #6f7374;
    }
  }

  &:focus-visible {
    background: #ffffff;
    border: 1px solid #6f7374;
    outline: 0;
  }
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="search"]::-webkit-search-cancel-button,
input[type="time"]::-webkit-calendar-picker-indicator {
  cursor: pointer;

  position: absolute;
  right: 16px;
  height: 16px;
  width: 16px;
  padding: 0;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: url("../../../assets/icons/ic-calendar.svg");
}

input[type="search"]::-webkit-search-cancel-button {
  background: url("../../../assets/icons/ic-cross.svg");
}

input[type="time"]::-webkit-calendar-picker-indicator {
  background: url("../../../assets/icons/ic-time.svg");
}
