.block {
    &__title {
        padding-top: 110px;
        color: #000;
        text-align: center;
        font-size: 36px;
        font-weight: 500;
    }
    &__desc {
        color: #000;
        text-align: center;
        font-size: 16px;
    }
}

.question {
    padding-top: 10px;
    &__description {
        text-align: center;
        font-size: 36px; 
        color: #000;
        font-weight: 300;
    }
    &__input {
        font-size: 20px;
        padding: 10px 10px;
        border-radius: 10px;
        border-right-width: 3px !important;
    }
    &__image {
        width: 200px;
        margin: auto;
        display: block;
        background: #fff;
        margin-bottom: 20px;
    }
    &__item {
        border: 3px solid currentColor!important;
        border-radius: 10px!important;
    }
    &__text {
        font-size: 20px!important;
        padding: 10px 10px!important;
        border-radius: 10px!important;
        border: none!important;
        min-height: 70px !important;
    }
    &__body {
        max-width: 600px;
        margin: 40px auto;
    }
}

textarea.question__text, textarea.question__input {
    color: #000!important;
    &:hover {
        border-right-width: 3px !important;
    }
}

@media only screen and (max-width: 768px) {
    .question {
        &__image {
            width: 150px;
        }
    }
    .block {
        &__title {
            font-size: 32px;
        }
    }
    .question {
        &__description {
            font-size: 28px;
        }
    }
}