.block {
    &__title {
        padding-top: 110px;
        color: #000;
        text-align: center;
        font-size: 36px;
        font-weight: 500;
    }
    &__desc {
        color: #000;
        text-align: center;
        font-size: 16px;
    }
}

.question {
    padding-top: 10px;
    &__description {
        text-align: center;
        font-size: 36px; 
        color: #000;
        font-weight: 300;
    }
    &__input {
        font-size: 20px;
        padding: 10px 10px;
        border: 3px solid #9de1ac;
        border-radius: 10px;
    }
    &__image {
        width: 200px;
        height: 200px;
        margin: auto;
        background: #fff;
        margin-bottom: 20px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    &__text {
        font-size: 20px;
        padding: 10px 10px;
        border: 3px solid #9de1ac;
        border-radius: 10px;
        min-height: 70px !important;
    }
    &__body {
        max-width: 600px;
        margin: 40px auto;
    }
}