.footer {
  background: #110e2b;
  padding: 25px 0 20px;
  width: 100%;

  &__center {
    display: flex;
    justify-content: space-between;
  }

  &__connect-item {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 5px;
  }

  &__copyright {
    color: #6f7374;
    font-family: "Cormorant", serif;
    font-size: 16px;
    margin-top: 80px;
    text-align: center;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    max-width: 475px;
    width: 100%;
  }

  &__logo {
    color: #fff;
    height: 48px;
    margin-top: 12px;
    width: 93px;
  }

  &__logo-wraper {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
  }

  &__nav-item {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 12px;
  }

  &__social-link {
    color: #fff;
    margin-right: 22px;
  }

  &__social-links {
    margin-top: 40px;
  }
}

.recieve-compilation {
  max-width: 467px;

  &__btn {
    margin-top: 20px;
  }

  &__desc {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    margin-top: 20px;
    opacity: 0.7;
  }

  &__title {
    color: #fff;
    font-family: "Cormorant", serif;
    font-size: 32px;
    line-height: 32px;
  }
}

@media only screen and (max-width: 768px) {
  .footer {
    padding: 45px 0 20px;

    &__logo-wraper {
      display: none;
    }

    &__center {
      display: flex;
      flex-direction: column-reverse;
    }

    &__info {
      flex-direction: column-reverse;
      margin-top: 58px;
    }

    &__col {
      &:nth-child(1) {
        padding-top: 20px;
      }

      &:nth-child(2) {
        border-bottom: 1px solid #6f737480;
        padding-bottom: 20px;
      }
    }

    &__copyright {
      margin-top: 50px;
    }
  }

  .recieve-compilation {
    &__title {
      font-size: 24px;
      line-height: 32px;
    }
  }
}
