.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__title {
    font-family: 'Cormorant', serif;
    font-size: 32px;
    font-weight: 32px;
    font-weight: 700;
    margin: 0;
  }
  &__elements-number {
    font-family: 'Montserrat', sans-serif;
    line-height: 20px;
    font-size: 14px;
    color: #6F7374;
  }
}

@media only screen and (max-width: 768px) {
  .page-header {
    &__title {
      font-size: 22px;
    }
    &__btn {
      padding: 4px 19px;
    }
  }
}