.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__title {
    font-size: 26px;
    font-weight: 400;
    margin: 0;
  }
  &__btn {
    font-family: 'Ubuntu', sans-serif!important;
    color: #fff;
    background: #101010;
    border: none;
    padding: 8px 56px;
    border-radius: 7px;
    height: auto;
    cursor: pointer;
  }
}

@media only screen and (max-width: 768px) {
  .page-header {
    &__title {
      font-size: 22px;
    }
    &__btn {
      padding: 4px 19px;
    }
  }
}