.detail {
  margin: 0 auto;
  width: 550px;

  &__header {
    text-align: center;
    margin: 10px 0 20px;

    h1 {
      font-size: 28px;
    }
  }
}

.link-rows {
  margin-bottom: 15px;
  .link-row {
    font-size: 16px;
    margin-bottom: 5px;
    span {
      display: inline-block;
      margin-right: 10px;
      width: 160px;
    }
  }
}

.looks {
  margin-bottom: 10px;
  &__header {
    font-size: 22px;
    text-align: center;
  }
}

.look {
  display: flex;
}

.look-item {
  width: 100px;
  margin-right: 10px;
  margin-bottom: 10px;

  &__photo {
    height: 100px;
    background-image: #ccc;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  &__backdrop {
    height: 100%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    opacity: 0;
    color: #fff !important;
    background: #000;
    transition: 0.3s ease-in-out;

    &:hover {
      opacity: 0.5;
    }
  }

  &__name {
    text-align: center;
  }

  &__input {
    border: 1px solid rgba($color: #2e92ff, $alpha: 0.6) !important;
    margin-top: 5px !important;
    border-radius: 5px !important;

    &:hover, &:focus {
      border: 1px solid #2e92ff;
    }
  }
}

button.look-add-btn {
  width: 100px;
  height: 100px;
  margin-bottom: 40px;
  font-size: 32px;
}
