.ant-btn {
  background: none;
  border-radius: 8px;
  box-shadow: none;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  height: 40px;
  padding: 0 23px;
  text-shadow: none;
}

.ant-btn,
.ant-btn:focus,
.ant-btn:hover {
  border-color: #000;
  color: #000;
}

.ant-btn.ant-btn-primary {
  background-color: #f9e5d9;
  border-color: #f9e5d9;
  color: #000;
}

.ant-btn.ant-btn-primary:focus,
.ant-btn.ant-btn-primary:hover {
  background-color: #f6ceb4;
  border-color: #f6ceb4;
  color: #000;
}

.ant-btn:disabled,
.ant-btn:disabled:hover {
  background-color: #f2f0f0;
  border-color: #f2f0f0;
  color: #6f7374;
}

.ant-btn:focus,
.ant-btn:hover {
  background-color: #0000001a;
}

.ant-btn-lg {
  height: 48px;
  width: 265px;
}

.ant-btn-sm {
  font-size: 14px;
  height: 24px;
  padding: 0px 7px;
}

.ant-btn-text {
  color: #110e2b;
  height: auto;
  padding: 0;
}

.ant-btn-text > span {
  text-decoration: underline;
}

.ant-btn-text,
.ant-btn-text:hover,
.ant-btn-text:focus {
  background: transparent;
  border-color: transparent;
}

.ant-btn-text:hover {
  color: #000;
}

[ant-click-animating-without-extra-node]:after {
  display: none;
}
