.cbox {
  display: flex;
  align-items: center;

  font-family: Montserrat;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0em;

  color: #110e2b;

  &__fld {
    height: 16px;
    width: 16px;

    appearance: none;
    background-color: #ffffff;
    border: 1px solid #110e2b;
    border-radius: 2px;

    cursor: pointer;

    &:checked {
      background-color: #110e2b;
      background-image: url("../../../assets/icons/ic-check.svg");
      border: 0;
    }
  }

  &__lbl {
    margin-left: 20px;
  }

  &:focus-visible {
    outline: 0;
  }
}
