.cbox {
  display: flex;
  align-items: center;

  color: #110e2b;

  &-form {
    gap: 20px;
  }

  &-look {
    gap: 12px;
  }

  &__fld {
    cursor: pointer;

    height: 16px;
    width: 16px;

    appearance: none;
    background: #ffffff;
    border: 1px solid #110e2b;
    border-radius: 2px;

    &:checked {
      background: #110e2b url("../../../assets/icons/ic-check.svg");
      border: 0;
    }
  }

  &:focus-visible {
    outline: 0;
  }
}
