.q-and-a-item {
  $self: &;

  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-top: 34px;
    max-width: 628px;
    background: #FFFFFF;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    padding: 16px 32px;
    cursor: pointer;
  }

  &__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 32px;
    font-weight: 500;
  }

  &__desc {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #101010;
    display: none;
    margin: 24px 32px;
    max-width: 628px;
  }

  &__expand-btn {
    background: none;
    border: none;
    width: 32px;
    height: 32px;
    padding: 0;
    cursor: pointer;
    transform: rotate(180deg);
  }

  &--active {
    #{ $self }__desc {
      display: block;
    }

    #{ $self }__expand-btn {
      transform: rotate(0deg);
    }
  }
}


@media only screen and (max-width: 768px) {
  .q-and-a-item {
    margin-bottom: 25px;

    &__body {
      margin-top: 0;
      padding: 12px 26px;
    }

    &__title {
        font-size: 18px;
        line-height: 24px;
    }
  }
}