.color {
  display: flex;
  align-items: center;

  &__box {
    margin-left: 10px;
    height: 10px;
    width: 10px;
  }
}

.action {
  padding: 0;
  margin-right: 6px;
}

.table-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  &__title {
    font-size: 28px;
    text-align: center;
    margin: 10px 0 20px;
  }
  &__btn {
    position: absolute;
    right: 0;
  }
}
