.compilation-card {
  background: #fff;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
  border-radius: 8px;

  &__header {
    padding: 12px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e8e8e8;
  }
  &__info {
    display: flex;
    align-items: top;
  }
  &__number {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
  }
  &__type {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
  }
  &__date {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #6F7374;
    letter-spacing: -1px;
  }
  &__params {
    margin-left: 20px;
  }
  &__status {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    border-radius: 12px;
    padding: 1px 9px;
    font-weight: 600;
    &--on-way {
      color: #379456;
      background-color: #ccffdd;
    }
  }

  &__body {
    position: relative;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__looks {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
  }

  &__rate-btn {
    position: absolute !important;
    bottom: 8px;
    right: 0;
  }
}

@media only screen and (max-width: 1024px) {
  .compilation-card {
    &__looks {
      display: block;
    }
  }
}

@media only screen and (max-width: 769px) {
  .compilation-card {
    &__params {
      margin-left: 10px;
    }
    &__status {
      padding: 1px 9px;
    }
  }
}
