.section-form {
  display: flex;
  flex-direction: column;
  grid-row-gap: 24px;
  line-height: 24px;
  padding-bottom: 32px;

  &__desc {
    color: #6f7374;
    font-weight: 400;
  }

  &__desc,
  &__title {
    text-align: left;
    white-space: pre-wrap;
  }
}
