.section-page {
  margin-top: 40px;
  &__submit-btn {
    background: #101010 !important;
    color: #fff !important;
    width: 220px;
    height: 48px !important;
    border-radius: 7px !important;
    display: block !important;
    margin: 40px auto 0 !important;
    &:hover, &:active {
      border: none !important;
    }
    &:disabled {
      background:#686868 !important;
    }
  }
}

.form-item {
  $self: &;
  &__label {
    font-family: 'Ubuntu', sans-serif !important;
    font-size: 18px !important;
    font-weight: bold;
    white-space: break-spaces !important;
    text-align: left;
  }
  &__input {
    padding: 15px 11px !important;
    border-radius: 5px !important;
    font-size: 18px !important;
  }
  &__text {
    padding: 15px 11px !important;
    border-radius: 5px !important;
    font-size: 18px !important;
  }
  &__checkbox {
    font-size: 16px;
    color: #A7A7A8;
    font-weight: 300;
    button {
      margin-left: 5px;
      padding: 0 !important;
      height: 16px;
    }
  }
  &--input {
    display: inline-block !important;
    width: calc(50% - 9px);
    &:nth-child(2n) {
      margin-left: 18px;
    }
  }
  &--text {
    display: block !important;
    width: calc(100%);
  }
  &--single-option {
    display: block !important;
    label {
      margin-bottom: 0 !important;
    }
  }
  &--multiple-option {
    display: block !important;
  }
}