.section-form {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  line-height: 24px;

  &__desc {
    color: #6f7374;
    font-weight: 400;
  }

  &__desc,
  &__title {
    white-space: pre-wrap;
  }
}

@media (max-width: 575px) {
  .section-form {
    row-gap: 8px;
  }
}
