.detail {
  margin: 0 auto;
  width: 410px;

  &__header {
    text-align: center;
    margin: 10px 0 20px;

    h1 {
      font-size: 28px;
    }
  }
}

.link-rows {
  margin-bottom: 15px;

  .link-row {
    font-size: 16px;
    margin-bottom: 5px;

    span {
      display: inline-block;
      margin-right: 10px;
      width: 160px;
    }
  }
}

.create-compilation-btn {
  position: absolute;
  right: 20px;
  top: 25px;
}