.task-card {
  background: #fff;
  border-radius: 7px;

  &__header {
    padding: 12px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #E8E8E8;
  }
  &__info {
    display: flex;
    align-items: center;
  }
  &__number {
    font-size: 24px;
    font-weight: 500;
  }
  &__type {
    font-size: 16px;
    margin-left: 12px;
    font-weight: 400;
  }
  &__status {
    font-size: 14px;
    border-radius: 12px;
    padding: 1px 12px;
    &--on-way {
      color: #379456;
      background-color: #CCFFDD;
    }
  }

  &__body {
    position: relative;
    padding: 25px 15px;
    padding-bottom: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__cancel-btn {
    position: absolute!important;
    bottom: 8px;
    right: 0;
  }
}