.detail {
  margin: 0 auto;

  &__header {
    margin: 10px 0 20px;

    h1 {
      font-size: 28px;
    }
  }
}

.action {
  padding: 0;
  margin-right: 6px;
  background: none;
  border: none;
  color: #4b88c1;
  cursor: pointer;
}