span.ant-radio + *
{
	padding-left:20px;
	padding-right:20px;
}

.ant-radio-checked::after
{
	border:1px solid #110e2b;
}

.ant-radio-inner::after
{
	background-color:#110e2b;
}

.ant-radio-input:focus + .ant-radio-inner
{
	box-shadow:none;
}

.ant-radio-wrapper
{
	margin-right:auto;
}

.ant-radio-wrapper,.ant-radio-group,.ant-radio
{
	align-items:center;
	color:#110e2b;
	display:flex;
	font-family:Montserrat;
	font-size:16px;
	letter-spacing:0;
	line-height:24px;
	top:auto;
}

.ant-radio-wrapper:hover .ant-radio,.ant-radio:hover .ant-radio-inner,.ant-radio-input:focus + .ant-radio-inner,.ant-radio-checked .ant-radio-inner,.ant-radio-inner
{
	border-color:#110e2b;
}