.tasks-page {
  padding-bottom: 60px;
  &__body {
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    position: relative;
  }
  &__show-more-btn {
    position: absolute!important;
    bottom: -45px;
    left: calc(50% - 75px);
  }
  &__no-data {
    position: absolute;
    text-align: center;
    width: 100%;
    padding: 5px;
    color: #868686;
    font-size: 16px;
  }
}

@media only screen and (max-width: 990px) {
  .tasks-page {
    &__body {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media only screen and (max-width: 768px) {
  .tasks-page {
    &__body {
      grid-template-columns: 1fr;
    }
  }
}