.base-form__body {
  display: flex;
  flex-wrap: wrap;
  grid-column-gap: 40px;
  grid-row-gap: 8px;
  justify-content: center;
}

.base-form__policy {
  display: flex;
  justify-content: center;
  padding: 16px 0 24px 0;

  &__text {
    color: #6f7374;
    font-size: 14px;

    & > button {
      font-size: 14px;
    }
  }
}
