.base-form__body {
  display: flex;
  flex-wrap: wrap;
  grid-column-gap: 40px;
  grid-row-gap: 8px;
  justify-content: flex-start;
}

.base-form__policy {
  display: flex;
  justify-content: center;
  padding-top: 16px;

  &__text {
    color: #6f7374;
    font-size: 14px;
    font-weight: 400;

    & > button {
      font-size: 14px;
    }
  }
}

@media (max-width: 575px) {
  .base-form__body {
    grid-column-gap: 0;
    grid-row-gap: 0;
  }

  .base-form__policy {
    padding: 0;
  }
}
