.quize-header {
  margin-bottom: 40px;

  &__top {
    height: 32px;
  }

  &__body {
    text-align: center;

    &__title {
      color: #110e2b;
      font-family: Cormorant;
      font-size: 32px;
      font-weight: bold;
      line-height: 40px;
      margin-bottom: 8px;
    }

    &__desc {
      color: #6f7374;
      font-family: Montserrat;
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 24px;
    }
  }
}

.steps {
  display: flex;
  grid-column-gap: 16px;
  justify-content: center;

  &__item {
    background-color: #f2f0f0;
    color: #110e2b;

    &_active {
      background-color: #110e2b;
      color: #ffffff;
    }

    &_prev {
      background-color: #6f7374;
      color: #ffffff;
    }
  }

  &__item,
  &__item_active,
  &__item_prev {
    border-radius: 50%;
    height: 24px;
    min-width: 24px;
  }
}
