.quize-header {
  padding: 32px 32px 40px;

  &__top {
    height: 32px;
  }

  &__body {
    text-align: center;

    &__title {
      color: #110e2b;
      font-family: Cormorant;
      font-size: 32px;
      font-weight: bold;
      line-height: 40px;
      margin-bottom: 8px;
    }

    &__desc {
      color: #6f7374;
      font-family: Montserrat;
      font-size: 16px;
      height: 44px;
      line-height: 22px;
      margin-bottom: 24px;
    }
  }
}

.steps {
  display: flex;
  column-gap: 16px;
  justify-content: center;

  &__item {
    background-color: #f2f0f0;
    color: #110e2b;

    &_active {
      background-color: #110e2b;
      color: #ffffff;
    }

    &_prev {
      background-color: #6f7374;
      color: #ffffff;
    }
  }

  &__item,
  &__item_active,
  &__item_prev {
    border-radius: 50%;
    height: 24px;
    min-width: 24px;
  }
}

@media (max-width: 575px) {
  .quize-header {
    padding: 16px 16px 24px;

    &__top {
      height: 24px;

      & svg {
        height: 24px;
        width: 24px;
      }
    }

    &__body__title {
      font-size: 24px;
      line-height: 24px;
    }

    &__body__desc {
      height: 32px;
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 16px;
    }
  }

  .steps {
    column-gap: 8px;
  }
}
