.user-page {
  &__body {
    padding-top: 80px;
    min-height: calc(100vh - 64px);
    background: #fcfdff;
  }
}


@media only screen and (max-width: 768px) {
  .user-page {
    &__body {
      padding-top: 65px;
      padding-bottom: 15px;
    }
  }
}
