.color {
  display: flex;
  align-items: center;

  &__box {
    margin-left: 10px;
    height: 10px;
    width: 10px;
  }
}

.action {
  padding: 0;
  margin-right: 6px;
}

.table-top {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &__title {
    font-size: 28px;
    text-align: center;
    margin: 10px 0 20px;
  }

  &__btn {
    position: absolute;
    right: 0;
  }
}

.look {
  display: flex;
  justify-content: space-between;
}

.look-item {
  width: 80px;
  margin-bottom: 5px;
  margin-right: 5px;
  &__photo {
    background: #ccc;
    height: 80px;
  }
  &__name {
    text-align: center;
    line-height: 16px;
  }
  &:last-child {
    margin-right: 0;
  }
}