.header {
  $self: &;
  padding: 12px 0;
  position: fixed;
  $self: &;
  transition: all 0.3s;
  width: 100%;
  z-index: 100;
  background: #ffffff;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.04);

  &__actions {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &__menu-btn-wrap {
    display: none;
    width: 114px;
  }

  &__menu-btn {
    background: none;
    border: none;
    filter: invert(1);
    padding-left: 0;
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &__link,
  &__logo {
    transition: all 0.3s;
    color: #000000;
  }

  &__links {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-right: 80px;
    width: 72px;
    margin-left: 35px;
  }

  &__logo {
    margin-bottom: -10px;
    transition: all 0.3s;
  }

  &__nav {
    span {
      margin-right: 60px;
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      font-weight: 500;
    }
    
    a {
      color: #6F7374;
      transition: all 0.3s;
    }
  }

  &--dark {
    background: #110e2b;

    #{ $self }__logo,
    #{ $self }__link,
    .user-info__name,
    .user-info__avatar svg {
      filter: invert(1);
    }

    
    #{ $self }__menu-btn {
      filter: none;
    }

    #{ $self }__nav {
      a {
        color: #ffffff;
      }
    }
  }
}

.user-info {
  display: flex;
  align-items: center;
  cursor: pointer;

  &__name {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #000;
    transition: all .3s;
  }

  &__avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: #F9E5D9;
    border-radius: 50%;
    margin-left: 25px;

    svg {
      transition: all .3s;
    }
  }
}

.nav-mobile {
  display: none;
  background: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 256px;
  box-shadow: 24px 0px 16px -24px rgba(0, 0, 0, 0.16);
  z-index: 1000;
  transform: translatex(-262px);
  transition: all .3s;

  &__content {
    padding: 54px 16px 92px 16px;
  }

  &__close-btn {
    padding: 0;
    background: none;
    border: none;
    margin-left: 5px;
  }

  &__links {
    list-style: none;
    padding-left: 0;
    margin-top: 45px;
  }

  &__link {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 36px;
  }

  &__bottom {
    position: absolute;
    bottom: 0;
  }

  &__contact {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 32px;
    color: #6F7374;
    margin-bottom: 10px;
  }

  &__social-links {
    margin-top: 40px;
    width: 80px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
  }

  &--active {
    transform: translatex(0);
  }
}

.nav-mobile-bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: all .3s;

  &--active {
    opacity: 1;
    visibility: visible;
  }
}

.logout-wrap {
  text-align: center;

  button {
    font-size: 16px;
    border: none;
    background: none;
  }
}


@media only screen and (max-width: 768px) {
  .header {
    &__nav {
      display: none;
    }

    &__links {
      display: none;
    }

    &__menu-btn-wrap {
      display: block;
    }
  }

  .user-info {
    max-width: 114px;

    &__name {
      white-space: nowrap;
      max-width: 80px;
      overflow: hidden;
    }
    
    &__avatar {
      width: 26px;
      height: 26px;
      margin-left: 10px;

      svg {
        width: 14px;
        height: 14px;
      }
    }
  }

  .nav-mobile {
    display: block;
  }

  .nav-mobile-bg {
    display: block;
  }
}