.reset-password-card {
  align-items: center;
  background-color: #ffffff;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 32px;
  width: 624px;

  &__title {
    color: #110e2b;
    font-family: Cormorant;
    font-size: 32px;
    font-weight: bold;
    line-height: 40px;
    margin-bottom: 32px;
  }
}

.reset-password-form {
  height: 136px;

  &__lbl {
    display: inline-block;
    margin-bottom: 8px;
  }

  &__btn {
    display: flex;
    justify-content: center;
  }
}

.reset-password-page {
  background-color: #110e2b;
  display: flex;
  height: 100vh;
  justify-content: center;
  padding-top: 96px;
}

.reset-password-title {
  color: #ffffff;
  font-family: Cormorant;
  font-size: 64px;
  font-weight: bold;
  line-height: 64px;
  margin-top: 32px;
}
