.reset-password-page {
  background-color: #110e2b;
  height: 100vh;
  padding: 88px 15px;
}

.reset-password-title {
  color: #ffffff;
  font-family: Cormorant;
  font-size: 64px;
  font-weight: bold;
  line-height: 64px;
  margin-top: 32px;
}

.reset-password-card {
  align-items: center;
  background-color: #ffffff;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 32px;
  max-width: 624px;

  &__title {
    color: #110e2b;
    font-family: Cormorant;
    font-size: 32px;
    font-weight: bold;
    line-height: 40px;
    margin-bottom: 32px;
  }
}

.reset-password-form__body {
  height: 136px;
}

.reset-password-form__btn {
  display: flex;
  justify-content: center;
}
