.button {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #000;
  cursor: pointer;
  border-radius: 8px;

  &--primary {
    background: #F9E5D9;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    border: none;
    padding: 8px 20px;
  }

  &--secondary {
    background: none;
    border: 1px solid #fff;
    color: #fff;
    padding: 7px 23px;
    transition: all .3s;
    &:hover {
      background: rgba(255, 255, 255, 0.2);
    }
  }
}