.button {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #000;

  &--secondary {
    background: none;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 8px;
    padding: 7px 23px;
  }
}