.task-creation-page {
  padding-bottom: 30px;

  &__blank {
    background: #fff;
    border-radius: 16px;
    padding: 0 0 35px;
    max-width: 920px;
    margin: 20px auto 0;
  }
}


.task-creation-form {
  &__body {
    display: flex;
    flex-wrap: wrap;
    grid-column-gap: 40px;
    grid-row-gap: 8px;
    justify-content: center;
  }

  &__footer {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .base-page {
    margin-top: 20px;
  }
  .task-creation-page {
    &__blank {
      padding: 0 15px 25px;
    }
  }
  .task-creation-form {
    margin-top: 20px;
  }
}