.detail {
  margin: 0 auto;
  width: 500px;
  padding-top: 50px;

  &__header {
    text-align: center;
    font-size: 28px;
  }

  &__field input {
    height: 36px;
  }
}

.field {
  display: flex;
  align-items: baseline;
}
