.home-page {
    background: #FCFDFF;
}

.compilation-section {
    height: 800px;
    background-color: #fff;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(./images/main-section.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;

    &__container {
        position: relative;
    }

    &__title {
        padding-top: 256px;
        font-family: 'Cormorant', serif;
        font-size: 64px;
        line-height: 56px;
        font-weight: bold;
        color: #fff;
        max-width: 560px;
    }

    &__desc {
        max-width: 560px;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        margin-top: 20px;
        line-height: 32px;
        color: #fff;

        br {
            &:nth-child(2) {
                display: none;
            }
        }
    }

    &__btn {
        margin-top: 35px;
    }
}

.why-us {
    width: 500px;
    position: absolute;
    right: -70px;
    bottom: -240px;

    &__title {
        font-family: 'Cormorant', serif;
        font-size: 32px;
        color: #FFFFFF;
        line-height: 24px;
    }
}

.why-us-item {
    $self: &;

    &__image {
        width: 144px;
        height: 144px;
        border-radius: 8px;
        background-size: cover;
    }
    
    &__label {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        width: 144px;
        color: #FFFFFF;
        margin-top: 20px
    }

    &--0 {
        #{ $self }__image {
            background-position-y: 0;
        }
    }

    &--1 {
        #{ $self }__image {
            background-position-y: -35px;
        }
    }

    &--2 {
        #{ $self }__image {
            background-position-y: -35px;
        }
    }

    &--3 {
        #{ $self }__image {
            background-position-y: -65px;
        }
    }
}

.receive-section {
    background-color: #110E2B;
    padding-bottom: 72px;

    &__content {
        display: flex;
        padding-top: 50px;
    }

    &__right {
        position: relative;
        width: 100%;
        max-width: 500px;
        margin-left: 205px;
    }

    &__steps {
        position: absolute;
        top: 133px;
        left: 0px;

        &--mobile {
            display: none;
            top: 95px;
        }
    }

    &__image-card {
        padding: 23px;
        border: 1px solid #F6CEB4;
        border-radius: 8px;
    }

    &__image-card-content {
        width: 374px;
        height: 560px;
        background-image: url(./images/receive-section-img.jpg);
        background-repeat: no-repeat;
        border-radius: 8px;
    }

    &__title {
        line-height: 40px;
        font-weight: bold;
        margin-top: 35px;
        margin-bottom: 50px;
        color: #fff;
        font-family: 'Cormorant', serif;
        font-size: 40px;
    }

    &__items {
        list-style: none;
        padding-left: 0;
        padding-left: 31px;

        li {
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            font-weight: 300;
            position: relative;
            margin-bottom: 23px;
            color: #fff;
        }
    }
}

.receive-price {
    background: #F6CEB4;
    font-size: 24px;
    margin-top: 100px;
    max-width: 343px;
    border-radius: 8px;
    padding: 24px 31px;

    &__content {
        position: relative;
        padding-left: 16px;

        &::before {
            content: "";
            left: 0px;
            position: absolute;
            height: 100%;
            width: 2px;
            background: #000;
            border-radius: 1px;
        }
    }

    &__label {
        font-family: 'Cormorant', serif;
        font-size: 24px;
        font-weight: bold;
        line-height: 24px;
    }

    &__value {
        font-family: 'Montserrat', sans-serif;
        font-size: 17px;
        line-height: 24px;
        margin-top: 16px;
        font-weight: 500;
    }
}

.how-work-section {
    margin-top: 60px;
    margin-bottom: 79px;
    overflow: hidden;

    &__container {
        position: relative;
    }

    &__title {
        font-family: 'Cormorant', serif;
        font-size: 40px;
        font-weight: bold;
        line-height: 48px;
        color: #110E2B;
        text-align: center;
    }

    &--light {
        background: #fcfdff;
    }

    &--dark {
        background: #110e2b;
        padding-bottom: 93px;
        margin-bottom: 0;

        .work-example {
            $self: &;

            &__number {
                color: #F6CEB4;
            }

            &__title {
                color: #FFFFFF;
            }
        
            &__desc {
                color: #FFFFFF;
                border-left-color: #f6ceb4;
            }

            &__image {
                position: relative;
            }

            &:nth-child(1) {
                margin-top: 95px;

                .work-example__info {
                    margin-top: 115px;
                }

                .work-example__image {
                    background-image: url(./images/delivery-and-payment.jpg);
                }
                
                .work-example__popup-image {
                    position: absolute;
                    right: -294px;
                    top: 261px;
                    background-image: url(./images/bag.png);
                    width: 362px;
                    height: 241px;
                }
            }
        
            &:nth-child(2) {
                flex-direction: row-reverse;
                height: auto;
                margin-top: 193px;

                .work-example__image {
                    position: relative;
                    right: auto;
                    background-image: url(./images/feedback.jpg);  
                }

                .work-example__desc {
                    padding-bottom: 0;
                }
            }
        }
    }
}

.work-example {
    $self: &;
    margin-top: 127px;
    display: flex;

    &__image {
        width: 400px;
        height: 448px;
        border-radius: 16px;
        background-size: cover;
    }

    &__info {
        margin-left: 265px;
        width: 100%;
        max-width: 596px;
        margin-top: 56px;
    }

    &__number {
        font-family: 'Cormorant', serif;
        font-weight: bold;
        font-size: 64px;
        line-height: 56px;
        color: #8498CD;
        letter-spacing: -4px;
    }

    &__title {
        font-family: 'Cormorant', serif;
        font-size: 32px;
        font-weight: bold;
        margin-top: 16px;
        color: #110E2B;
    }

    &__desc {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        color: #110E2B;
        line-height: 24px;
        padding-left: 23px;
        border-left: 2px solid #8498CD;
        margin-top: 25px;
    }

    &:nth-child(2) {
        flex-direction: row;
        height: 448px;
        margin-top: 48px;

        #{ $self }__image {
            position: absolute;
            right: -120px;
            background-image: url(./images/quize-input.jpg);
        }

        #{ $self }__popup-image {
            position: absolute;
            left: -360px;
            top: 100px;
            background-image: url(./images/laptop.png);
            width: 518px;
            height: 288px;
        }

        #{ $self }__desc {
            padding-bottom: 50px;
        }
    }

    &:nth-child(3) {
        #{ $self }__info {
            margin-top: 105px;
        }

        #{ $self }__image {
            position: relative;
            background-image: url(./images/task-creation.jpg);
        }

        #{ $self }__popup-image {
            position: absolute;
            right: -126px;
            top: 143px;
            background-image: url(./images/iphone.png);
            width: 210px;
            height: 400px;
        }
    }

    &:nth-child(4) {
        margin-top: 235px;
    }

    &--right {
        flex-direction: row-reverse;
        justify-content: space-between;

        #{ $self }__info {
            margin-left: 0;
            margin-right: 95px;
        }

        #{ $self }__top {
            &::before {
                left: auto;
                right: -45px;
            }
        }
    }

    &__quize-btn {
        margin-top: 42px;
    }
}

.stylist-jobs {
    position: absolute;
    bottom: -10px;
    right: -191px;
}

.stylist-job {
    $self: &;

    &__image {
        width: 360px;
        height: 360px;
        border-radius: 16px;
        background-size: cover;
        box-shadow: 2px 2px 22px rgba(0, 0, 0, 0.08);
    }
}

.all-types-section {
    height: 376px;
    background-image: url(./images/all-types-section.jpg);
    background-size: cover;
    background-position: center;
    padding: 96px 0 0 387px;

    &__card {
        background-color: #F6CEB4;
        border-radius: 8px;
        padding: 24px 31px;
        max-width: 343px;
    }

    &__card-content {
        position: relative;
        padding-left: 16px;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        line-height: 32px;

        &::before {
            content: "";
            left: 0px;
            position: absolute;
            height: 100%;
            width: 2px;
            background: #000;
            border-radius: 1px;
        }
    }

}

.try-quize-section {
    background: #110E2B;
    padding: 41px 0;
    border: 2px solid #F6CEB4;
    border-radius: 16px;
    margin-top: 52px;

    &__title {
        font-family: 'Cormorant', serif;
        font-size: 40px;
        line-height: 48px;
        font-weight: bold;
        text-align: center;
        color: #FFFFFF;
    }

    &__btn-wrap {
        margin: 45px auto 0;
        display: flex;
        justify-content: center;
    }
}

.q-and-a {
    padding: 112px 0 64px;
    overflow: hidden;

    &__container {
        position: relative;
    }

    &__content {
        padding: 0 80px 60px;
    }

    &__title {
        font-family: 'Cormorant', serif;
        font-size: 56px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 40px;
    }

    &__image {
        position: absolute;
        width: 429px;
        height: 496px;
        bottom: -117px;
        right: -56px;
        background-image: url(./images/q-and-a.png);
        background-size: cover;
    }
}

@media only screen and (max-width: 768px) {
    .compilation-section {
        background-position: calc(100vw - 20%) 0;

        &__title {
            padding-top: 180px;
            font-size: 40px;
            line-height: 40px;
        }

        &__desc {
            font-size: 16px;
            line-height: 24px;
            font-weight: 300;

            br {
                &:nth-child(1) {
                    display: none;
                }

                
                &:nth-child(2) {
                    display: inline;
                }
            }
        }
    }

    .why-us {
        position: static;

        &__title {
            margin-top: 80px;
            font-size: 24px;
            line-height: 24px;
        }
    }

    .why-us-item {
        &__image {
            width: 104px;
            height: 104px;
        }

        &__label {
            width: 104px;
            font-size: 12px;
            line-height: 20px;
        }

        &--3 {
            .why-us-item__image {
                background-position-y: -45px;
            }
        }
    }

    .receive-section {
        padding-bottom: 44px;

        &__content {
            flex-direction: column;
            max-width: 375px;
            margin: auto;
        }
    
        &__right {
            margin-left: 0;
        }
    
        &__steps {
            display: none;
            &--mobile {
               display: block; 
            }
        }
    
        &__image-card {
            width: 345px;
            height: 200px;
            padding: 19px;
        }
    
        &__image-card-content {
            width: 303px;
            height: 160px;
            background-position: -25px -215px;
            background-size: 113%;
        }
    
        &__title {
            font-size: 28px;
            line-height: 32px;
            margin-top: 30px;
            margin-bottom: 25px;
        }
    
        &__items {
            padding-left: 25px;

            li {
                br {
                    display: none;
                }
            }
        }
    }

    .receive-price {
        margin-top: 45px;
    }

    .how-work-section {
        margin-top: 40px;

        &__title {
            text-align: center;
            font-size: 28px;
            line-height: 32px;
        }

        &--dark {
            .work-example {
                &:nth-child(1) {
                    margin-top: 40px;
    
                    .work-example__image {
                        position: relative;
                        left: 25px;
                        width: 189px;
                        height: 212px;
                    }
    
                    .work-example__popup-image {
                        width: 230px;
                        height: 154px;
                        left: 153px;
                        top: 103px;
                        background-size: cover;
                    }

                    .work-example__info {
                        margin-top: 75px;
                    }

                    .work-example__desc {
                        font-weight: 300;
                    }
                }
            
                &:nth-child(2) {
                    margin-top: 115px;
                    .work-example__image {
                        position: relative;
                        margin: auto;
                    }
                }
            }
        }
    }

    .work-example {
        $self: &;
        margin-top: 45px;
        display: block;

        &__info {
            margin-left: 0;
        }

        &__number {
            font-size: 48px;
            line-height: 48px;
            margin-left: 0;
            margin-top: 35px;
            margin-left: 0;
        }

        &__title {
            margin-top: 24px;
            font-size: 24px;
            line-height: 32px;
            text-align: left;
        }

        &__desc {
            margin-top: 15px;
            font-size: 16px;
            line-height: 24px;
            text-align: left;
        }

        &:nth-child(2) {
            height: auto;

            .work-example {
                &__image {
                    position: relative;
                    width: 189px;
                    height: 212px;
                    margin-right: 0;
                    margin-left: auto;
                    right: -5px;
                }

                &__popup-image {
                    width: 246px;
                    height: 136px;
                    left: -170px;
                    top: 45px;
                    background-size: cover;
                }

                &__info {
                    margin-top: 35px;
                }

                &__desc {
                    padding-bottom: 0;
                }
            }
        }

        &:nth-child(3) {
            margin-top: 115px;

            .work-example {
                &__image {
                    position: relative;
                    width: 189px;
                    height: 212px;
                    margin-left: 35px;
                    right: auto;
                }

                &__popup-image {
                    width: 120px;
                    height: 234px;
                    left: 145px;
                    top: 60px;
                    background-size: cover;
                }
            }
        }

        &:nth-child(4) {
            margin-top: 40px;
            display: flex;
            flex-direction: column-reverse;

            .work-example {
                &__image {
                    display: none;
                }

                &__info {
                    margin-top: 0;
                }

                &__number {
                    margin-top: 5px;
                }
            }
        }
    }

    .stylist-jobs {
        position: relative;
        right: auto;
        left: 0;
    }

    .stylist-job {
        &__image {
            width: 232px;
            height: 232px;
        }
    }

    .all-types-section {
        height: 344px;
        padding: 110px 0 0 ;
        background-size: cover;

        &__card-content {
            font-size: 16px;
            line-height: 24px;
        }
    }

    .try-quize-section {
        padding: 40px 0 24px;

        &__title {
            font-size: 24px;
            line-height: 32px;
            max-width: 320px;
            margin-left: auto;
            margin-right: auto;

            br {
                display: none;
            }
        }

        &__btn-wrap {
            margin-top: 32px;
        }
    }

    .q-and-a {
        padding: 30px 0;

        &__content {
            padding: 0;
            display: flex;
            flex-direction: column-reverse;
        }

        &__title {
            font-size: 28px;
            line-height: 32px;
            margin-bottom: 20px;
        }

        &__image {
            margin-top: 10px;
            position: relative;
            bottom: auto;
            right: auto;
            width: 249px;
            height: 286px;
            left: 60px;
        }

        &__items {
            margin-top: 30px;
        }
    }
}

@media only screen and (max-width: 980px) {
    .compilation-section {
        &__right {
            background-position: center;
        }
    }
    .receive-section {
        &__right {
            margin-right: 0;
        }
    }
}

@media only screen and (max-width: 815px) {
    .receive-section {
        min-height: 400px;
    }
}