.home-page {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../../../assets//images/home-page-bg.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;

    &__title {
        color: #fff;
        text-align: center;
        font-size: 28px;
        line-height: 34px;
        padding-top: 200px;
    }
    &__nav {
        margin-top: 80px;
        text-align: center;
    }
    &__quize-btn {
        font-size: 18px;
        height: 40px;
        padding: 0 25px;
    }
}