.home-page {

}
.compilation-section {
    margin-top: 64px;
    background-color: #fff;
    margin-bottom: 64px;
    &__content {
        display: flex;
        position: relative;
    }
    &__left {
        max-width: 320px;
    }
    &__right {
        background-image: url(./images/compilation-section-img.jpg);
        height: 400px;
        width: 100%;
        background-position: center right;
        background-repeat: no-repeat;
    }
    &__title {
        margin-top: 64px;
        font-family: 'Inter', sans-serif;
        font-size: 24px;
        line-height: 32px;
        font-weight: bold;
    }
    &__desc {
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        margin-top: 20px;
        letter-spacing: 1px;
    }
    &__btn-wrap {
        position: absolute;
        bottom: 32px;
        display: flex;
        align-items: center;
        left: 0;
        display: flex;
    }
    &__btn-black, &__btn-white {
        height: 54px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__btn-white {
        background: #fff;
        border: 1px solid #101010;
        color: #101010;
        width: 240px;
    }
    &__btn-black {
        background: #101010;
        color: #fff;
        width: 144px;
        span {
            margin-right: 7px;
        }
    }
}

.receive-section {
    font-family: 'Inter', sans-serif;
    background-color: #F5F5F5;
    min-height: 352px;
    &__content {
        display: flex;
        padding-top: 50px;
    }
    &__left {
        width: 100%;
        max-width: 393px;
    }
    &__right {
        width: 100%;
        background-image: url(./images/receive-section-img.png);
        height: 302px;
        background-repeat: no-repeat;
        background-position-x: right;
        background-position-y: -15px;
        background-size: 358px;
        margin-right: 45px;
    }
    &__title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    &__items {
        list-style: none;
        padding-left: 15px;
        li {
            font-size: 16px;
            position: relative;
            margin-top: 5px;
            letter-spacing: 1px;
            &::before {
                content: "";
                position: absolute;
                left: -15px;
                top: 8px;
                width: 8px;
                height: 8px;
                background: #101010;
            }
        }
    }
    &__price {
        font-size: 24px;
        margin-top: 30px;
        span {
            font-weight: 500;
        }
    }
}

.how-work-section {
    margin-top: 64px;
    margin-bottom: 79px;
    &__title {
        font-size: 36px;
        font-weight: bold;
        line-height: 32px;
    }
    &__quize-btn {
        width: 304px;
        height: 54px;
        margin: 48px auto;
        font-size: 16px;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #101010;
        border: none;
        color: #fff;
        cursor: pointer;
        span {
            margin-right: 7px;
        }
        .icon {
            margin-top: 1px;
        }
    }
}

.work-example {
    margin-top: 52px;
    display: flex;
    &__image {
        min-width: 440px;
        height: 343px;
        background-color: #ccc;
        background-size: cover;
        background-position: center;
        border-radius: 7px;
    }
    &__info {
        margin-left: 95px;
        width: 100%;
    }
    &__top {
        margin-top: 24px;
        height: 1px;
        background: #101010;
        position: relative;
        &::before {
            font-size: 24px;
            font-weight: bold;
            letter-spacing: 1px;
            position: absolute;
            left: -45px;
            top: -18px;
        }
    }
    &__title {
        font-size: 24px;
        font-weight: bold;
        margin-top: 24px;
    }
    &__desc {
        font-size: 16px;
        letter-spacing: 1px;
        font-weight: 300;
    }
    &:nth-child(2) {
        .work-example__image {
            background-image: url(./images/quize-input.jpg);
        }
        .work-example__top {
            &::before {
                content: "01";
            }
        }
    }
    &:nth-child(3) {
        .work-example__image {
            background-image: url(./images/task-creation.jpg);
        }
        .work-example__top {
            &::before {
                content: "02";
            }
        }
    }
    &:nth-child(4) {
        .work-example__image {
            background-image: url(./images/stylists-job.jpg);
        }
        .work-example__top {
            &::before {
                content: "03";
            }
        }
    }
    &:nth-child(5) {
        .work-example__image {
            background-image: url(./images/look-selection.jpg);
        }
        .work-example__top {
            &::before {
                content: "04";
            }
        }
    }
    &:nth-child(6) {
        .work-example__image {
            background-image: url(./images/delivery-and-payment.jpg);
        }
        .work-example__top {
            &::before {
                content: "05";
            }
        }
    }
    &--right {
        flex-direction: row-reverse;
        .work-example__info {
            margin-left: 0;
            margin-right: 95px;
        }
        .work-example__top {
            &::before {
                left: auto;
                right: -45px;
            }
        }
    }
}

.all-types-section {
    padding-bottom: 103px;
    &__title {
        max-width: 590px;
        font-size: 36px;
        line-height: 32px;
        font-weight: bold;
    }
    &__line {
        width: 60%;
        margin: 38px 0 15px auto;
        height: 1px;
        background: #101010;
    }
    &__desc {
        width: 60%;
        font-size: 24px;
        letter-spacing: 1px;
        font-weight: 300;
        margin: 0 0 0 auto;
        text-align: left;
        line-height: 24px;
    }
    &__image {
        margin-top: 38px;
        background-image: url(./images/all-types-section.png);
        height: 320px;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.try-quize-section {
    background: #F5F5F5;
    padding: 64px 0;
    &__title {
        font-size: 24px;
        line-height: 32px;
        font-weight: bold;
        text-align: center;
        max-width: 590px;
        margin: auto;
    }
    &__btn {
        cursor: pointer;
        background: #101010;
        margin: 55px auto 0;
        color: #fff;
        border: none;
        font-size: 16px;
        height: 54px;
        width: 464px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.q-and-a {
    padding: 80px 0 64px;
    &__content {
        border: 1px solid #F5F5F5;
        padding: 32px 80px 60px;
    }
    &__title {
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 768px) {
    .compilation-section {
        margin-bottom: 15px;
        &__content {
            display: block;
        }
        &__left {
            max-width: inherit;
            text-align: center;
            margin-bottom: 30px;
        }
        &__desc {
            margin-top: 25px;
            br {
                &:last-child {
                    display: none;
                }
            }
        }
        &__btn-wrap {
            left: calc(50% - 153px);
            bottom: 13px;
        }
        &__right {
            height: 235px;
            background-size: 375px; 
        }
        &__btn-white {
            width: 185px;
        }
        &__btn-black {
            width: 120px;
        }
        &__title {
            margin-top: 75px;
            font-size: 30px;
            line-height: 34px;
        }
    }
    .receive-section {
        &__left {
            margin: 0 auto;
        }
        &__right {
            margin-top: 30px;
            background-position-x: center;
            margin-bottom: 10px;
        }
        &__content {
            padding-top: 25px;
            padding-bottom: 25px;
            display: block;
        }
        &__title {
            text-align: center;
            font-size: 30px;
        }
    }
    .how-work-section {
        margin-top: 35px;
        margin-bottom: 40px;
        &__title {
            text-align: center;
            font-size: 30px;
            br {
                display: none;
            }
        }
    }
    .work-example {
        margin-top: 45px;
        display: block;
        &__info {
            margin-left: 0;
        }
        &__top {
            margin-top: 35px;
            margin-left: 45px;
        }
        &__title {
            margin-top: 24px;
        }
        &__desc {
            margin-top: 15px;
        }
        &__image {
            min-width: 340px;
            margin: auto;
            height: 269px;
        }
        &--right {
            .work-example__top {
                margin-left: 0;
                margin-right: 45px;
            }
            .work-example__title {
                text-align: right;
            }
            .work-example__desc {
                text-align: right;
                br {
                    display: none;
                }
            }
        }
    }
    .all-types-section {
        padding-bottom: 15px;
        &__title {
            font-size: 30px;
            line-height: 34px;
            text-align: center;
        }
        &__line {
            width: 100%;
            margin: 20px auto;
        }
        &__desc {
            width: 100%;
            line-height: 28px;
            font-size: 22px;
            text-align: center;
            br {
                display: none;
            }
        }
        &__image {
            height: 200px;
            background-size: cover;
        }
    }
    .try-quize-section {
        padding: 30px 0 35px;
        &__btn {
            margin: 20px auto 0;
            width: 100%;
        }
    }
    .q-and-a {
        padding: 30px 0;
        &__content {
            padding: 30px 20px 40px 50px;
        }
        &__title {
            font-size: 30px;
            margin-bottom: 20px;
        }
    }
}

@media only screen and (max-width: 980px) {
    .compilation-section {
        &__right {
            background-position: center;
        }
    }
    .receive-section {
        &__right {
            margin-right: 0;
        }
    }
}

@media only screen and (max-width: 815px) {
    .receive-section {
        min-height: 400px;
    }
}