body {
  margin: 0;
  /* font-family: 'Balsamiq Sans', cursive !important; */
}

.container {
	max-width: 1170px;
	padding: 0 15px;
	margin: auto;
}

.ant-radio-wrapper {
    color: #fff !important;
}

.ant-radio-wrapper span {
	line-height: 16px;
}

.ant-form label {
	font-size: 16px !important;
	display: flex !important;
	align-items: center;
	white-space: unset;
	height: auto!important;
	margin-bottom: 5px;
	line-height: auto!important;
}

.ant-checkbox-group .ant-row {
	margin-bottom: 20px;
}

.ant-checkbox-wrapper span {
	color: #fff;
	font-size: 16px;
	line-height: 16px;
}