body {
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
}

.container {
	max-width: 1170px;
	padding: 0 15px;
	margin: auto;
}

.ant-radio-wrapper {
    color: #000 !important;
		margin-bottom: 15px!important;
}

.ant-radio-wrapper span {
	line-height: 16px;
}

.ant-form label {
	font-size: 16px !important;
	display: flex !important;
	align-items: center;
	white-space: unset;
	height: auto!important;
	margin-bottom: 5px;
	line-height: auto!important;
}

.ant-checkbox-group .ant-row {
	margin-bottom: 20px;
}

.ant-checkbox-wrapper span {
	color: #000;
	font-size: 16px;
	line-height: 16px;
}