.compilations-page {
  font-family: 'Ubuntu', sans-serif;
  padding-bottom: 60px;

  &__body {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    position: relative;
  }

  &__show-more-btn {
    position: absolute!important;
    bottom: -45px;
    left: calc(50% - 75px);
  }

  &__no-data {
    position: absolute;
    text-align: center;
    width: 100%;
    padding: 5px;
    color: #868686;
    font-size: 16px;
  }
}

.rating {
  display: flex;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #d7d7d7;
    height: 150px;
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    border-right: 1px solid #fff;
    cursor: pointer;
  
    &:last-child {
      border-right: none;
    }
  
    &--active {
      background: #10b210;
    }
  }
}

.badge {
  display: inline-block;
  margin-right: 3px;
  background: #000;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  vertical-align: middle;

  &--approved {
    background: #379456;
  }

  &--disapproved {
    background: #d1d1d1;
  }
}