.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title {
  margin: 0;
}

.look {
  display: flex;
  margin-bottom: 10px;
  padding: 5px;
  border-bottom: 1px dashed #ccc;
  position: relative;
  &__selected-icon, &__not-selected-icon {
    position: absolute;
    right: 3px;
    top: 0px;
    font-size: 22px;
    z-index: 100;
    background: #fff;
    border-radius: 50%;
  }
  &__selected-icon {
    color: green!important;
  }
  &__not-selected-icon {
    color: red!important;
  }
}

.look-item,
.mobile-look-item {
  width: 100px;
  margin-bottom: 0;
  margin-right: 10px;
  &__photo {
    height: 80px;
  }
  &__name {
    text-align: center;
    line-height: 16px;
  }
  &:last-child {
    margin-right: 0;
  }
}


.mobile-look {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-right: 1px dashed #e4e4e4;
  padding: 5px 0;
  position: relative;
  &:last-child {
    border: none;
  }
  &__selected-icon, &__not-selected-icon {
    position: absolute;
    right: 3px;
    top: 0px;
    font-size: 22px;
    z-index: 100;
    background: #fff;
    border-radius: 50%;
  }
  &__selected-icon {
    color: green!important;
  }
  &__not-selected-icon {
    color: red!important;
  }
}

.mobile-look-item {
  width: auto;
  margin-bottom: 5x;
  margin-right: 0;
  & > div:first-child {
    margin: auto;
  }
  &__name {
    margin-top: 5px;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.compilation {
  padding: 5px 10px;
  margin-bottom: 10px;
  box-shadow: 1px 1px 7px -2px #ccc;
  border-radius: 7px;
  margin-left: -10px;
  margin-right: -10px;
  &__id {
    font-size: 28px;
    font-weight: bold;
  }
  &__status {
    font-weight: bold;
  }
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__looks {
    display: flex;
    margin-left: -5px;
    margin-right: -5px;
  }
  &__rate {
    text-align: center;
  }
  &__rate-btn {
    padding: 7px 70px;
    width: 100%;
    height: auto;
    margin: 20px 0 10px;
  }
}

.mobile-compilations {
  display: none;
}

.rating {
  display: flex;
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #d7d7d7;
    height: 150px;
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    border-right: 1px solid #fff;
    cursor: pointer;
    &:last-child {
      border-right: none;
    }
    &--active {
      background: #10b210;
    }
  }
}

@media only screen and (max-width: 767px) {
  .title {
    font-size: 20px;
  }
  .desktop-compilations {
    display: none;
  }
  .mobile-compilations {
    display: block;
  }
}
