.complete-page {
    background: #fff;
    color: #000;
    min-height: 100vh;
    padding-bottom: 20px;
    &__body {
        padding-top: 70px;
    }
    &__title {
        text-align: center;
        color: #000;
    }
    &__desc {
        text-align: center;
        color: #000;
        font-size: 16px;
        margin-top: 30px;
    }
}